/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

header {
  background-color: #fff;
  color: #333;
}

header .ribbon ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold; 
  
}

header .ribbon ul li a:hover {
  color: white;
  background-color: #16a085;
}

.ribbon ul {
  display: flex;
  justify-content: left;
  align-items: center !important;
  font-weight: 500;
  padding: 20px 30px;
}

.ribbon ul .logo-item img {
  width: 110px;
  height: auto;
  margin-top: -10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

a:hover {
  background-color: #16a085;
  color: white;
  z-index: 1;
  transition: 1s;
}

/* Count Options */
.count-options {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.count-options p {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2980b9;
}

/* Text Box for Counting */
.text-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.text-box textarea {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  resize: vertical;
  font-size: 18px;
}

/* Button Styles */
button {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #16a085;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #149175;
}

/* Reason Text */
.reason-text {
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: -10px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.reason-text.show {
  opacity: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reason-text {
  font-family: Arial, sans-serif;
  color: #333; /* Change color if needed */
  max-width: 600px; /* Adjust the maximum width as desired */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px;
}

.reason-text h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.reason-text #reason {
  font-size: 16px;
  line-height: 1.6;
}

